body{
    font-family:'Roboto Condensed', sans-serif;
    background-color:#eee ;
}

#searchEngine{
  margin: 70px 180px 50px 180px;
}

.myImage{
  width:200px;
  height:180px;
  margin:20px;
  object-fit: cover;
}

.searchBox{
  height:50px;
  padding: 10px;
}

